.body-contain {
    margin: 100px 100px;
    display: flex;
}

.body-head {
    width: 40%;
}

.body-header {
    font-size: 3.5rem;
    color: #fff;
}
.link-btn{
    display: flex;
}
.body-heading {
    color: gray;
    margin-top: -20px;
    font-size: 1.2rem;
}

.body-info {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore {
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}

.explore::before {
    content: "";
    color: #b14851;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    width: 120%;
    height: 300%;
    top: -30px;
    left: -20px;
}

.explore::after {
    content: "";
    color: #b14851;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    width: 125%;
    height: 300%;
    top: -25px;
    left: -20px;
}

.learn-more {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

.learn-more::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: gray;
    transition: .3s all;
}

.learn-more:hover::after {
    width: 100%;
}

.body-statistic {
    margin-top: 80px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
}

.count-name {
    font-size: 1.2rem;
    color: gray;
    margin-top: -30px;
}

/*-------------- LEFT SIDE ---------------*/
.body-left {
    z-index: 1000;
    margin-top: -200px;
}

.left-img {
    width: 80%;
    z-index: 10000;
}

.left-head {
    z-index: -1;
    -webkit-box-shadow: -3px 3px 20px 1px rgba(214, 214, 214, 1);
    -moz-box-shadow: -3px 3px 20px 1px rgba(214, 214, 214, 1);
    box-shadow: -3px 3px 20px 1px rgba(214, 214, 214, 1);
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.568);
    padding: 55px;
    position: relative;
    top: -80px;
    left: 50px;

}

.left-header {
    font-size: 3rem;
    color: #fff;
}

.left-heading {
    font-size: 1rem;
    color: #fff;
}

.left-count {
    margin-top: -10px;
    font-size: 2.5rem;
    color: #fff;
}

.left-amount {
    color: gray;
    font-size: 1.5rem;
}

.mind-contain {
    display: flex;
}

.mind-btn {
    padding: 40px 0;
}

.mind-arrow {
    padding: 40px 0;
    width: 100px;
    font-size: 2rem;
    background-color: #fff;
    color: #bd6cd6e1;
    font-weight: 900;
    border: 1px solid #bd6cd6e1;
}

.mind-arrow:hover {
    background-color: #fff;
    animation: animate .8s;
}

@keyframes animate {
    0% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}